@charset "UTF-8";

/* common */
html {
  font-size: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 16px;
}

a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.5s;
}

a:hover {
  opacity: 0.7;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* header */
header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo {
  width: 150px;
}

header form {
  padding: 10px 15px;
  width: 400px;
  border: 1px solid #f1f1f1;
  border-radius: 2em;
}

nav ul {
  display: flex;
  gap: 7px;
}

nav li a {
  display: flex;
  flex-direction: column;
  font-size: 11px;
  text-align: center;
}

nav li a i {
  font-size: 20px;
}

/* main visual */
.mv img {
  min-height: 250px;
  object-fit: cover;
}

/* goods */
.goods {
  padding-top: 50px;
}

.goods ul {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.goods ul li h3 {
  margin-top: 5px;
  font-size: 0.9rem;
}

.btn {
  display: block;
  margin: 50px auto;
  width: 100%;
  max-width: 300px;
  background-color: #000;
  line-height: 50px;
  color: #fff;
  text-align: center;
}

/* footer */
footer {
  background-color: #000;
  color: #fff;
  padding: 30px 0;
  text-align: center;
}

.sns {
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer small {
  display: block;
  margin-top: 20px;
}

/* small screen */
@media(max-width: 750px) {
  header form {
    display: none;
  }

  .goods ul {
    grid-template-columns: 1fr 1fr;
  }
}